<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<html>
   <body>
   
      <h1> Text Summarization {{ name }}!</h1>
      
   </body>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript>
  $(function() {
    $('#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        url: $('input[name="url"]').val()
        //b: $('input[name="b"]').val()
      }, function(data) {
      	console.log(data)
        $("#tarea").text(data.summary12);
      });
      return false;
    });
  });
</script>

<!--var array = document.getElementById('url').value.split('\n');-->
</script>
<label for="url">Enter an https:// URL:</label>
 <form action="/_add_numbers">
<input type="url" name="url" id="url"
       placeholder="https://example.com"
       pattern="https://.*" size="50"
       required>
<input type="submit" value="submit" id="calculate"></form>
<br>
<br>

<textarea id="tarea" rows="10" cols="100" name="comment" form="usrform">
Summary...</textarea>

</html>
